.header{
    height: 60px;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}
.logo{
    position: absolute;
    height: 40px;
    width: 40px;
    top: 10px;
    left: 12px;
}
.logo img{
    width: 100%;
}
.side-menu{
    position: fixed;
    left: 0;
    top: 0px;
    bottom: 0;
    width: 64px;
    -webkit-transition: all 0.2s 0s;
    -o-transition: all 0.2s 0s;
    transition: all 0.2s 0s;
    background-color: #333;
    overflow: hidden;
    z-index: 111;
}
.side-menu.active{
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    width: 300px;
    -webkit-box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.2);
    box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.2);
    border-right: 0px solid #eee;
}
.side-menu ul{
    padding: 0;
    margin: 0;
    padding-top: 65px;
}
.side-menu ul li{
    display: block;
    padding: 0;
    width: 100%;
    padding-bottom: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.side-menu ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    line-height: 60px;
    height: 60px;
    padding-left: 65px;
    position: relative;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;

}
.side-menu ul li a span{
    visibility: hidden;
    opacity: 0;

}
.side-menu.active ul li a span{
    -webkit-transition: all 0.2s 0.1s;
    -o-transition: all 0.2s 0.1s;
    transition: all 0.2s 0.1s;
    visibility: visible;
    opacity: 1;
}
.side-menu ul li a.active{
    background-color: #222;
}
.side-menu ul li a:hover{
    background-color: #222;
}
.side-menu.active ul li a.active{
    border-radius: 0;
}
.side-menu ul li a:active{
    top:1px;
}
.side-menu ul li a img{
    width: 40px;
    position: absolute;
    left: 12px;
    top: 10px;
}
.expand-side-menu-cnt{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:25px;
    margin: auto;
    cursor: pointer;
    background-color: #333;
}
.expand-side-menu-cnt:hover{
    background-color: #2d2d2d;
}
.expand-side-menu-cnt:after{
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 8.7px;
    border-color: transparent transparent transparent #222;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.side-menu.active .expand-side-menu-cnt:after{
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 8.7px 5px 0;
    border-color: transparent #222 transparent transparent;
}
.page{
	padding-left: 64px;
}